body{
    text-align: center;
    background-color: hsla(52, 11%, 74%, 0.644);

}
#Id


{
    width: 100%;
  
}

h1{
  height: 150px;
 
    color: #C308A7;
        
  
  background-color:  #EDC100;
 
  font-size: 80px;
  
  font-style: italic;
 
}
h2{
    Color:   #D02C0F
 
}
